@charset "UTF-8";

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

}

#footer {
  position: relative;
  background-color: #eee;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
}

#copyrights {
  background-color: #ddd;
  font-size: 0.875rem;
  line-height: 1.8;
  height: 45px
}

.footer-logo {
  display: block;
  margin-bottom: 30px;
  width: "90px";
}
.widget {
  position: relative;
}
.widget p {
  line-height: 1.7;
}

#footer.dark,
.dark #footer {
  color: rgba(255, 255, 255, 0.75);
  background-color: #4d4e56;
  border-top-color: rgba(255, 255, 255, 0.15);
}

#copyrights.dark,
.dark #copyrights {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
}

ul.municipal {
  list-style-position: inside;
  padding: 0px !important;
}

.copy_right {
  padding-top: 3%
}

@media only screen and (max-width: 400px) {
  .copy-letter {
    display: block !important;
  }
  .copy_left {
    width: 104%;
    text-align: center;
    padding-left: 0;
  }
  .copy_left p {
    padding-top: 0 !important;
  }
  .copy_right {
    margin-top: -11% !important;
    text-align: center;
  }
}